<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Редактировать Роль</title>
</head>
<body>
<div class="container mt-5">
  <h1>Редактировать Роль</h1>
  <form th:action="@{/roles/{id}(id=${role.id})}" method="post" th:object="${role}">
    <div class="form-group">
      <label for="name">Название:</label>
      <input type="text" id="name" th:field="*{name}" class="form-control" required>
      <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}">Ошибка</div>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
  <a href="/roles" class="btn btn-secondary mt-3">Назад к списку ролей</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
