<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Печатей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Список Печатей</h1>
    <a href="/prints/new" class="btn btn-success mb-3">Добавить Новую Печать</a>
    <a href="/" class="btn btn-primary mb-3">Вернуться на Главное Окно</a>

    <form th:action="@{/prints/search}" method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Поиск печати">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary">Поиск</button>
                <a href="/prints" class="btn btn-outline-danger">Сбросить</a> <!-- Кнопка сброса поиска -->
            </div>
        </div>
    </form>

    <ul class="list-group">
        <th:block th:each="print : ${prints}">
            <li class="list-group-item">
                <a th:href="@{/prints/{id}(id=${print.id})}" th:text="${print.name}"></a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>
