<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Добро пожаловать на главную страницу!</h1>
    <div class="list-group mt-4">
        <a href="/roles" class="list-group-item list-group-item-action">Управление ролями</a>
        <a href="/services" class="list-group-item list-group-item-action">Управление услугами</a>
        <a href="/suppliers" class="list-group-item list-group-item-action">Управление поставщиками</a>
        <a href="/products" class="list-group-item list-group-item-action">Управление продуктами</a>
        <a href="/clients" class="list-group-item list-group-item-action">Управление клиентами</a>
        <a href="/orders" class="list-group-item list-group-item-action">Управление заказами</a>
        <a href="/machines" class="list-group-item list-group-item-action">Управление машинами</a>
        <a href="/order-status" class="list-group-item list-group-item-action">Управление статусами заказов</a>
        <a href="/prints" class="list-group-item list-group-item-action">Управление печатью</a> <!-- Ссылка на управление печатью -->
        <a href="/group-products" class="list-group-item list-group-item-action">Управление группами продуктов</a> <!-- Ссылка на управление группами продуктов -->
        <a href="/employees" class="list-group-item list-group-item-action">Управление сотрудниками</a> <!-- Ссылка на управление сотрудниками -->
        <a href="/contracts" class="list-group-item list-group-item-action">Управление контрактами</a> <!-- Ссылка на управление контрактами -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
